<header>
    <h1 class="text-center">{{ .Site.Title }}</h1>
    <h4 class="text-center">
        {{ with .Site.Params.description }}{{ . }}{{ end }} {{ with .Site.Params.channel }}<a href='{{ . }}'>{{ . }}</a>{{ end }}
    </h4>
</header>

<script src="{{" /js/search.js " | urlize | relURL }}"></script>
<article class="container-fluid"></article>
<aside role="search">
    <div class="search-wrapper" align="center">
        <form class="search" method="get">
            <input type="search" placeholder="search..." />
        </form>
    </div>
    <ul class="search-results" align="center">
        <li>Enter a search term </li>
    </ul>
</aside>

<div class="row">
    <div class="col-12">
        {{ partial "products/common/site-main-nav.html" . }}
    </div>
</div>
<div class="row">
    {{ range .Data.Pages }} {{ partial "products/list/product-list-item.html" . }} {{ end }}
</div>
<script>
    var productVariants = null;
</script>
</article>